<%- include('../partials/admin__head') %>
<body>
    <section class="header">
        <div class="row">
            <div class="col-1-of-1 header__hero">
                <div class="header__logo">
                <!--make it a link once I've gotten the logo-->
                </div>
                <div class="header__text">
                    <h1 class="heading-1">CDB TRANSPORT</h1>
                </div>
                <div class="header__svg">
                   
                </div>
                <div class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-list-item"><a class="header__nav-list-link" href="/routes">HOME</a></li>
                        <li class="header__nav-list-item"><a class="header__nav-list-link" href="/routes/about">ABOUT</a></li>
                        <li class="header__nav-list-item"><a class="header__nav-list-link" href="/routes/contact">CONTACT</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <div class="admin__form">
        <form class="admin__form--register" id="admin-login__form" method="POST" action="/admin/" > 
            <div class="formError"></div>
                
            <div class="form-group w-full bg-white border-2 border-gray-200 h-4 m-auto flex items-center justify-between py-10 px-4 rounded-lg">
                <small class="text-xl font-bold">Error Message</small>
                <span class="iconify icon-success" data-width="24" data-height="24" data-icon="si-glyph:checked"></span>
                <span class="iconify icon-error" data-width="24" data-height="24" data-icon="carbon:warning-filled"></span>
            </div>
            <label type="label" for="admin-username" class="form__label text-2xl text-white">USERNAME:</label>
            <input type="text" id="admin-username" name="username" required=true
            class="form-control text-xl" />

            <label type="label" for="admin-password" class="form__label text-2xl text-white">PASSWORD:</label>
            <input type="password"id="admin-password" name="password" required=true class="form-control text-xl" autocomplete="off" />

            <div class="submit__btn">
                <button type="submit" class="bg-purple-500 text-white px-10 rounded-lg py-4 text-xl hover:bg-purple-700 transition ease-in-out duration-300">SUBMIT</button>
            </div>
        </form>
    </div>
<%- include('../partials/footer') %>
</body>
</html>