<footer class="footer">
    <div class="footer__socials">
        <div class="footer__socials--group w-40">
            <a href="www.facebook.com" class="footer__socials--icon flex justify-between items-center"><span class="iconify w-10 h-10 block text-indigo-500 mr-4" data-icon="akar-icons:facebook-fill"></span>
            <p>Facebook</p>
            </a>
        </div>
        <div class="footer__socials--group w-40">
            <a href="www.twitter.com" class="footer__socials--icon flex justify-between items-center"><span class="iconify w-10 h-10 block mr-4" data-icon="logos:twitter"></span>
            <p>Twitter</p>
            </a>
        </div>
        <div class="footer__socials--group w-40">
            <a href="www.youtube.com" class="footer__socials--icon flex justify-between items-center"><span class="iconify w-10 h-10 block mr-4" data-icon="logos:youtube-icon"></span>
            <p>YouTube</p>
            </a>
        </div>
        <div class="footer__socials--instagram w-40">
            <a href="www.instagram.com" class="footer__socials--icon flex justify-between items-center"><span class="iconify w-10 h-10 block mr-4" data-icon="raphael:instagram"></span>
                <p>Instagram</p>
            </a>
        </div>
    </div>
    <div class="footer__logo">
        <i class="fas fa-bus-alt"></i>
    </div>
    <div class="footer__copyright--text">
        <h2>Copyright&copy;2021 CDB TRANSPORT CO.</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi dolores harum voluptatem quidem? Cupiditate excepturi facilis velit dicta tempora accusamus.</p>
    </div>
</footer>