<%- include('./partials/head')%>;
<section class="header">
    <div class="row">
        <div class="col-1-of-1 header__hero">
            <div class="header__logo">
            <!--make it a link once I've gotten the logo-->
            </div>
            <div class="header__text">
                <h1 class="heading-1">CDB TRANSPORT</h1>
            </div>
            <div class="header__svg error__svg">
               
            </div>
            <div class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-list-item"><a class="header__nav-list-link" href="/routes/">HOME</a></li>
                    <li class="header__nav-list-item"><a class="header__nav-list-link" href="/routes/about">ABOUT</a></li>
                    <li class="header__nav-list-item"><a class="header__nav-list-link" href="/routes/contact">CONTACT</a></li>
                </ul>
            </div>
            <div class="header__hero-img">
                
            </div>
        </div>
    </div>
</section>