<%- include('./partials/head') %>
<body>
    <!--<div class="row">
        <div class="col-1-of-2">

        </div>

        <div class="col-1-of-2">
            
        </div>
    </div>
    <div class="row">
        <div class="col-1-of-3">

        </div>

        <div class="col-1-of-3">
            
        </div>

        <div class="col-1-of-3">
            
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-4">

        </div>
        <div class="col-1-of-4">
            
        </div>
        <div class="col-1-of-4">
            
        </div>
        <div class="col-1-of-4">
            
        </div>
    </div>

    <div class="row">
        <div class="col-2-of-3">

        </div>
        <div class="col-1-of-3">
            
        </div>
    </div>

    <div class="row">
        <div class="col-3-of-4">

        </div>
        <div class="col-1-of-4">
            
        </div>
    </div>-->


    <section class="header">
        <div class="row">
            <div class="col-1-of-1 header__hero">
                <div class="header__logo">
                <!--make it a link once I've gotten the logo-->
                </div>
                <div class="header__text">
                    <h1 class="heading-1">CDB TRANSPORT</h1>
                    <p class="header__text-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo sunt, porro voluptatem excepturi eaque voluptate animi distinctio nisi maiores ab quos in saepe eveniet vitae ducimus minima reiciendis, minus dolore eius architecto illo sit. Quibusdam, optio. Quae tenetur perspiciatis fugit iste exercitationem cum ipsum, commodi saepe, voluptate, quas magni facere.</p>
                </div>
                <!--<div class="header__image">

                </div>-->
                <div class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-list-item"><a class="header__nav-list-link" href="/routes/">HOME</a></li>
                        <li class="header__nav-list-item"><a class="header__nav-list-link" href="/routes/about">ABOUT</a></li>
                        <li class="header__nav-list-item"><a class="header__nav-list-link" href="/routes/contact">CONTACT</a></li>
                    </ul>
                </div>
                <div class="header__hero-img">
                </div>

            </div>
        </div>
    </section>

    <section class="motto">
        <div class="row">
            <div class="col-3-of-4 motto__text">
                <div class="motto__text-content">
                    <div class="motto__text-content--heading"><span class="quote1">&#147;</span>Y<span class="you">O</span>U<span class="quote2">&#8221;</span></div>
                        <p class="motto__text-content--paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse officia nobis voluptas earum saepe perferendis itaque eaque sint dolor, natus ratione dolorum molestiae quam reprehenderit distinctio eveniet sapiente aperiam id quasi maxime. Iure, voluptatum nihil vel dolorum tempora sunt quidem nesciunt cumque doloribus, provident vero ea beatae minus quod quaerat voluptatibus obcaecati ipsam nisi perspiciatis maxime magnam quibusdam molestiae exercitationem!</p>
                </div>
            </div>
            <div class="col-1-of-4 motto__images">
                <div class="motto__images-content">
                <h1 class="heading-3 heading-3--team">Meet the Team</h1>

                <div class="motto__images--1">
                    <div class="motto__images--1-image">

                    </div>
                    <div class="motto__images--1-description">
                        <h4 class="official">John Doe</h4>
                        <p class="official__title">Administrator</p>
                    </div>
                </div>

                <div class="motto__images--1">
                    <div class="motto__images--1-image">

                    </div>
                    <div class="motto__images--1-description">
                        <h4 class="official">Jane Doe</h4>
                        <p class="official__title">Treasurer</p>
                    </div>
                </div>

                <div class="motto__images--1">
                    <div class="motto__images--1-image">

                    </div>
                    <div class="motto__images--1-description">
                        <h4 class="official">Mary Jane</h4>
                        <p class="official__title">Secretary</p>
                    </div>
                </div>
            </div>
                
            </div>
        </div>
    </section>

    <section class="location__cards">
        <div class="row">
                <div class="col-1-of-3 location__cards-element">
                    <div class="location__cards-element--content">
                        <p>Address near Building</p>
                        <p>Nairobi, Kenya 02022</p>
                        <p>www.cbdtrans.co.ke</p>
                    </div>
                </div>
        
                <div class="col-1-of-3 location__cards-element">
                    <div class="location__cards-element--content">
                        <p>0707881176</p>
                        <p>707-881-176</p>
                        <p>cbdtrans@exmaple.com</p>
                    </div>
                </div>
        
                <div class="col-1-of-3 location__cards-element">
                    <div class="location__cards-element--content time">
                        <p>OPENING: <span>8:30 A.M</span></p>
                        <p>CLOSING: <span>6:00 P.M</span></p>
                    </div>
                </div>
        </div> 
    </section>
    <section class="location__map">
        <div class="row">
            <div class="col-1-of-1 location__map-element">

            </div>
        </div>
    </section>

    <section class="sponsors">
        <div class="row">
            <div class="col-1-of-1 sponsors__content">
                <h1 class="sponsors__content-heading">SPONSORS</h1>

                <div class="sponsors__content-message">
                    <h1>THANK YOU!</h1>
                    <p>We'd like to thank all our sponsors for this once in a lifetime opportunity!</p>
                </div>
                <div class="sponsors__content--1">
                    <div class="sponsors__content--1-element header__hero-advertisers-item"></div>
                    <div class="sponsors__content--1-element header__hero-advertisers-item"></div>
                    <div class="sponsors__content--1-element header__hero-advertisers-item"></div>
                    <div class="sponsors__content--1-element header__hero-advertisers-item"></div>
                </div>
                <div class="sponsors__content--2">
                    <div class="sponsors__content--2-element header__hero-advertisers-item"></div>
                    <div class="sponsors__content--2-element header__hero-advertisers-item"></div>
                    <div class="sponsors__content--2-element header__hero-advertisers-item"></div>
                    <div class="sponsors__content--2-element header__hero-advertisers-item"></div>
                </div>
                <div class="sponsors__content--3">
                    <div class="sponsors__content--3-element header__hero-advertisers-item"></div>
                    <div class="sponsors__content--3-element header__hero-advertisers-item"></div>
                    <div class="sponsors__content--3-element header__hero-advertisers-item"></div>
                    <div class="sponsors__content--3-element header__hero-advertisers-item"></div>
                </div>

            </div>
        </div>
    </section>

    <section class="faq">
        <div class="row">
            <div class="col-1-of-1 faq__content">
                <div class="faq__content-elements">
                    <h1>FAQ</h1>
                    <div class="faq__content-elements--questions">
                        <div class="faq__content-elements--questions--1">
                            <div class="toggler">
                                <h3>This is a test question</h3>
                                <input type="checkbox" id="question-toggler" class="faq__content-elements--questions-toggler">
                                <label for="question-toggler" class="faq__content-elements--questions-toggler--label">
                                    <i class="fas fa-chevron-right"></i>
                                </label>
                                <p class="question--answer">This is the test questions answer, appreciate it</p>
                            </div>
                            
                        </div>

                        <h3>This is a test question</h3>
                        <p>This is the test questions answer, appreciate it</p>

                        <h3>This is a test question</h3>
                        <p>This is the test questions answer, appreciate it</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("./partials/footer") %>

    </body>