<%- include('./partials/home__head') %>

<body>
    <div class="email__message">
        <h2>Thank you for Registering with Us. We hope to meet your needs</h2>
        <p>Check your Email to verify your account</p>
    </div>
</body>
<%- include('./partials/footer') %>