<%- include('./partials/home__head') %>

<body>
    <div class="email__message">
        <div class="email__message--body">
            <h2>Thank you for Registering with Us. We hope to meet your needs</h2>
            <p>Click the button below, then use the login button to gain access to your account</p>
        </div>
        <a href="/routes/" class="btn-link header__button email__message--link">Home</a>
    </div>
</body>
<%- include('./partials/footer') %>