.top__blog{
    width: 70%;
    height: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    overflow: hidden;
    transform: translate(-50%, -50%);

    &--ribbon{
        width: 100%;
        height: 3vw;
        background-color: hsl(240, 73%, 65%);
        transition:all .4s ease-in-out;
        display: grid;
        place-items: center;

        &:hover{
            height: 30vw;
        }
    }

    &--content{
        display: flex;
        position: relative;
        &-image{
            width: 40%;
            height: 27vw;
        }

        &-body{
            width: 60%;
            font-size: 1.3rem;
            background-color: white;
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 2rem;
        }
    }

}

.other__blogs-content{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.other__blogs-article{
    box-sizing: content-box;
    padding: 2rem;
    width: 45%;
    height: auto;
    background-image: linear-gradient(to right bottom, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    height: 15vw;
    color: white;
    z-index: 1;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    overflow: visible;

    &:nth-child(even){
        margin-bottom: $gutter-vertical;
        margin-left: $gutter-vertical;
    }

    &:nth-child(odd){
        margin-bottom: $gutter-vertical;
    }

    &:hover{
        outline: 4px solid hsl(273, 50%, 26%);
        outline-offset: 2px;
        transform: translateY(-1rem) scale(1.05);
        z-index: 2000;
    }

  /* &:nth-child(odd):hover{
        outline: 4px solid hsl(273, 50%, 26%);
        transform: translate(50%, 50%) scale(2);
        outline-offset: 2px;
        z-index: 2000;
    }

    &:nth-child(even):hover{
        outline: 4px solid hsl(273, 50%, 26%);
        outline-offset: 2px;
        transform: translate(-50%, -50%) scale(2);
        z-index: 2000;
        overflow: visible;
    }
    */

}

.article-img{
    width: 15rem;
    height: 15rem;
    background-color: white;
    border-radius: 50%;
    float: left;
    shape-outside: polygon(50% at 50% 50%);
    margin-right: 1rem;
}

.blog__text{
    overflow: hidden;
    height: 12rem;
    text-overflow: ellipsis;
    margin-bottom: 2rem;
}

.edit-btn{
    border: none;
    width: 100px;
    letter-spacing: 1.5px;
}
.form__blog-edit{
    background-image: linear-gradient(135deg,hsl(240, 73%, 65%),hsl(273, 75%, 66%), transparent);
    padding: 2rem 5rem;
    border-radius: 16px;
}

.form__blog-bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5000;
    background-color: rgba(0,0,0,0.4);
    transform: scale(0);
    pointer-events: none;
    transition: all .4s ease-in-out;
}

.form__blog-bg.active{
    transform: scale(1);
    pointer-events: all;
}

.btn__blog-cancel{
    background-color: rgb(185, 176, 176) !important;
    margin-left: 2rem;
    text-decoration: none;
    padding: 1rem 3.5rem !important;
    font-size: 1.25rem;
    border-radius: 16px;
    color: black;
    transition: all .4s ease-in-out;

    &:hover{
        color: white;
    }
}

.btn__blog-edit{
    margin-top: 2rem;

    a{
        text-decoration: none;
        color: black;
    }
}

.delete-btn{
    display: inline-block;

    button{
        border: none;
        padding: 1rem 3.5rem;
        cursor: pointer;
        background-color: rgb(221, 121, 90);
        color: black;

        &:hover{
            color: white;
        }
    }
}

.logout-btn-delete{
    background-color: rgb(221, 121, 90);
    color: black;

    &:hover{
        color: white;
        cursor: pointer;
    }
}

.blog__time{
    float: right;
    color: black;
}