.u-center{
    text-align: center;
}

.u-title{
    font-size: 3rem;
}

.u-margin-big{
    margin-bottom: 2rem;
}

.u-form-center{
    display: grid !important;
    place-items: center;
}

.u-margin-top{
    margin-top: 2rem;
}

.u-border-radius{
    border-radius: 5px;
    border:none;
    outline: none;
}