//kumbh sans import
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;600;700&display=swap');

//widths
$max-width: 144rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 3rem;

//fonts
$font-family: 'Kumbh Sans',sans-serif;
$font-size: 62.5%;